

header {
    height: 100%;
}

header a {
    text-decoration: none;
    color: #969696;
}

.section__one {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
    align-items: center;
    color: #969696;
}

.section__text {
    padding: 5px;
}

.section__two {
    display: flex;
    justify-content: space-around;
    max-height: 100%;
    align-items: center;
    background: #0F0F0F;
}

.section__porten {
    font-family: Post No Bills Jaffna;
    font-size: 25px;
    color: white;
}

.section__functions {
    display: flex;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    padding: 15px;
}

.section__two-text {
    padding: 15px;
    color: white;
}

.section__two-text a {
    color: white;
}

.section__three {
    position: relative;
    max-height: 610px;
}

.piter img {
    width: 100%;
    max-height: 610px;
}

.Brend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 200px;
    height: 200px;
    color: white;
    position: absolute;
    left: 44%;
    top: 40%;
}

.Brend__porten {
    font-size: 45px;
    font-family: Post No Bills Jaffna;
}

.Brend__img img {
    width: 130px;
}

.Brend__piter {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.text__fon {
    position: absolute;
    left: 31%;
    top: 80%;
    font-size: 12px;
    line-height: 3px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
}

.colection {
    display: flex;
    width: 100%;
    
}

.new__colection {
    color: #FFFFFF;
    background: #000000;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.new__colection-louis {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 27px;
    font-family: 'Playfair Display', serif;
}

.new__colection-watch {
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.new__colection-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 195px;
    background: #191B1C;
}

.new__colection-card img {
    height: 250px;
    width: 100%;
}

.new__colection-price {
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.new__colection-price p {
    font-size: 12px;
}

.colection__search {
    position: relative;
    width: 45%;
}

.colection__search-photo img {
    min-height: 550px;
    width: 100%;
}

.colection__catolog {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    top: 65%;
    left: 35%;
}

.colection__catolog-text {
    font-size: 27px;
    font-family: 'Playfair Display', serif;
}

.colection__catolog-buttem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid;
    height: 35px;
    width: 90px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.colection__catolog-buttem a {
    text-decoration: none;
    color: white;
}

.colection__catolog-line img {
    width: 90px;
    padding: 20px;
}

.section__four {
    display: flex;
    width: 100%;
    color: white;
    background: #000000;
}
.section__four-fon{
    width: 45%;
}
.section__four-fon img {
    min-height: 550px;
    width: 100%;
}

.section__four-old {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    padding-bottom: 20px;
}

.section__four-text {
    font-family: 'Playfair Display', serif;
    font-size: 27px;
}

.section__four-line img {
    width: 90px;
    padding: 20px;
}

.section__four-lorem {
    text-align: center;
    font-size: 11px;
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
}

.section__four-buttem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid;
    width: 190px;
    height: 25px;
    font-family: 'PT Sans', sans-serif;
}

.section__four-buttem a {
    text-decoration: none;
    color: white;
}

.section__five {
    color: white;
    background: #000000;
    width: 100%;
}

.section__five-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    width: 100%;
    padding-top: 50px;
}

.section__five-info img {
    width: 90px;
}

.section__five-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 900px;
}

.section__five-card img {
    display: block;
    width: 180px;
    height: 210px;
}

.five__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.five__card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background: #191B1C;
    width: 195px;
    height: 250px;
}

.five__card p {
    font-size: 12px;
}

.section__six {
    height: 325px;
    background: #0F0F0F;
    color: white;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}

.section__six-mybrend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 162px;
}

.section__six-brend {
    display: flex;
    justify-content: center;
    height: 163px;
}

.section__six-brend img {
    width: 250px;
    padding: 0px 10px 0px 0px;
}

.section__seven {
    height: 350px;
    color: white;
    position: relative;
}

.section__seven img {
    height: 350px;
    width: 1409px;
}

.section__seven-info {
    position: absolute;
    top: 100px;
    left: 230px;
    font-size: 19px;
    font-family: 'Playfair Display', serif;
}

.section__seven-info p {
    line-height: 5px;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
}

.section__seven-categories {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    font-size: 19px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 100px;
    left: 650px;
}

.section__seven-categories a {
    line-height: 28px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.section__seven-mailing {
    position: absolute;
    top: 100px;
    left: 850px;
    font-size: 19px;
    font-family: 'Playfair Display', serif;
}

.section__seven-mailing p {
    line-height: 5px;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
}

.section__seven-mailing input {
    width: 180px;
    height: 35px;
    background-color: #000000;
    color: white;
}

.section__seven-mailing a {
    line-height: 85px;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.section__eight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    width: 1409px;
    height: 50px;
    background: black;
    color: white;
}

@media screen and (max-width: 1401px) {
    .Brend {
        top: 30%;
    }
    .text__fon {
        top: 75%;
    }
}

@media screen and (max-width: 1201px) {
    .text__fon {
        top: 65%;
        font-size: 10px;
    }

    .Brend {
        width: 140px;
        height: 140px;
        top: 30%;
    }

    .Brend__porten {
        font-size: 30px;
    }

    .Brend__img img {
        width: 80px;
    }

    .Brend__piter {
        font-size: 11px;
    }

    .new__colection-card{
        height: 200px;
        width: 150px;
    }
    .new__colection-watch{
        align-items: center;
    }
    .new__colection-card img{
        height: 200px;
        width: 150px;
    }
}

@media screen and (max-width: 1001px) {
    .text__fon {
        left: 33%;
        top: 55%;
        font-size: 7px;
        line-height: 0px;
    }

    .Brend {
        width: 100px;
        height: 100px;
        left: 45%;
        top: 20%;
    }

    .Brend__porten {
        font-size: 20px;
    }

    .Brend__img img {
        width: 60px;
    }

    .Brend__piter {
        font-size: 9px;
    }
    .colection {
        flex-wrap: wrap;
    }
    .new__colection{
        width: 100%;
    }
    .colection__search{
        width: 100%;
    }
    .new__colection-price{
        padding-bottom: 15px;
    }
    .section__four{
        flex-wrap: wrap;
    }
    .section__four-old{
        width: 100%;
        padding-top:15px;
    }
    .section__four-fon img{
        width: 100%;
    }
    .section__four-fon{
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .text__fon {
        left: 33%;
        top: 60%;
        font-size: 7px;
        line-height: 0px;
    }

    .piter img {
        height: 340px;
    }
}

@media screen and (max-width: 620px) {
    .piter img {
        height: 280px;
    }

    .text__fon {
        left: 33%;
        top: 50%;
        font-size: 5px;
        line-height: 0px;
    }

    .Brend {
        width: 80px;
        height: 80px;
        left: 45%;
        top: 15%;
    }

    .Brend__porten {
        font-size: 15px;
    }

    .Brend__img img {
        width: 40px;
    }

    .Brend__piter {
        font-size: 5px;
    }
    .colection__catolog-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 447px) {
    .text__fon {
        left: 18%;
        top: 50%;
        font-size: 5px;
    }

    .Brend {
        width: 70px;
        height: 70px;
        left: 40%;
        top: 15%;
        border: 1px solid;
    }

    .Brend__porten {
        font-size: 12px;
    }

    .Brend__img img {
        width: 35px;
    }

    .Brend__piter {
        font-size: 4px;
    }

    .piter img {
        height: 240px;
    }

    .section__one {
        font-size: 8px;
    }

    .section__porten {
        font-size: 15px;
    }

    .section__functions {
        font-size: 10px;
    }
    .new__colection-card{
        height: 150px;
        width: 100px;
    }
    .new__colection-card img{
        height: 150px;
        width: 100px;
    }
    .new__colection-price{
        font-size: 12px;
    }
}

@media screen and (max-width: 384px) {
    .section__functions {
        font-size: 8px;
    }
}

@media screen and (max-width: 363px) {
    .section__functions {
        font-size: 6px;
    }

    .section__one {
        font-size: 6px;
    }
    .colection__catolog-text {
        font-size: 15px;
    }
}